.proSection {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $blueColor;
  flex-direction: column;

  h2 {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 40px;
  }

  .technos {
    display: flex;
    gap: 15px;
    height: 100px;
    margin-top: -200px;

    input[type="checkbox"] {
      display: none;
    }

    label {
      padding: 15px 25px;
      background-color: $blackColor;
      border: 1px solid $blueColor;
      border-radius: 25px;
      cursor: pointer;
      height: fit-content;
    }

    input[type="checkbox"]:checked + label {
      background-color: $blueColor;
      color: $blackColor;
    }
  }

  .elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    width: 70%;
    justify-items: center;
    row-gap: 50px;

    .element {
      position: relative;
      width: 200px;
      height: 200px;

      .proImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover::before {
        content: '';
        width: 190px;
        height: 190px;
        position: absolute;
        border: 5px solid $blueColor;
      }

      .infosPro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $fontColor;
        position: absolute;
        width: 190px;
        height: 190px;
        top: 5px;
        left: 5px;
        opacity: 0;
        transition: opacity 0.5s;
        background: rgba(31, 36, 45, 0.4);
        backdrop-filter: blur(3px); /*effet derriere l'élément, ici un blur*/
      }

      &:hover .infosPro {
        opacity: 1;
      }

    }
  }


  .hidden {
    animation: hidden 0.5s ease forwards;

    @keyframes hidden {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
        display: none;
      }
    }

  }


}
