@import "../styles/Variables";

// clear init style
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scrollbar-gutter: unset;
}

html {
  scroll-behavior: smooth; /* permet un scroll smooth pour anckor */
}

body {
  background: $blackColor;
  color: $fontColor;
}

h1 {
  color: $blueColor;
}

section {
  position: relative;
  z-index: 1;
  height: 100vh;
  background: $blackColor;
}

@import "../styles/MainSection";
@import "../styles/CompSection";
@import "../styles/ExpSection";
@import "../styles/ProSection";
@import "../styles/CvSection";
@import "../styles/ContactSection";

