@import "../styles/Variables";

// clear init style
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scrollbar-gutter: unset;
}

html {
  scroll-behavior: smooth; /* permet un scroll smooth pour anckor */
}

body {
  background: $blackColor;
  color: $fontColor;

}

h1 {
  color: $blueColor;
}

.spline {
  z-index: 2;
  height: 100vh;
  position: absolute;
}

section {
  position: relative;
  z-index: 1;
  height: 100vh;
  background: $blackColor;
}

.mainSection {
  caret-color: $blueColor;
  cursor: url("../../public/pointer-arrow-icon.svg"), default;

  h1 {
    z-index: 1;
    position: fixed;
    top: calc(50vh - (500px / 2));
    left: calc(30% - (500px / 2));
    font-size: 75px;
    cursor: url("../../public/noun-text-cursor-49673.svg"), text;
  }

  h2 {
    z-index: 1;
    position: fixed;
    top: calc(50vh - (300px / 2));
    left: calc(30% - (400px / 2));
    font-size: 75px;
    cursor: url("../../public/noun-text-cursor-49673.svg"), text;
  }

  .desc {
    z-index: 1;
    position: fixed;
    width: 1000px;
    top: calc(50vh - (50px / 2));;
    left: calc(50% - (1000px / 2));
    font-size: 30px;
    text-align: center;
    cursor: url("../../public/noun-text-cursor-49673.svg"), text;
  }

  .location {
    position: absolute;
    top: 50px;
    right: 200px;
    font-size: 20px;
    cursor: url("../../public/noun-text-cursor-49673.svg"), text;
  }

  .dispo {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 20px;
    border: 1px solid $fontColor;
    border-radius: 50px;
    padding: 10px 10px 10px 35px;
    cursor: url("../../public/noun-text-cursor-49673.svg"), text;

    span:before {
      position: absolute;
      background: hsl(135, 85%, 55%);
      content: "";
      left: 15px;
      top: 14px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      animation: infinite pulse 2s;
    }

  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 hsla(135, 85%, 55%, .1);
    }
    50% {
      box-shadow: 0 0 0 0.8rem hsla(135, 85%, 55%, .2);
    }
    100% {
      box-shadow: 0 0 0 0 hsla(135, 85%, 55%, .1);
    }

  }

}

.compSection {
  background: linear-gradient(180deg, rgba(0, 238, 255, 1) 0%, rgba(56, 142, 149, 1) 0%, rgba(18, 121, 133, 1) 14%, rgba(31, 36, 45, 1) 100%);
}

.expSection {

}

.cvSection {

}

.contactSection {

}