@import "../styles/Variables";

// clear init style
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scrollbar-gutter: unset;
}

html {
  scroll-behavior: smooth; /* permet un scroll smooth pour anckor */
}

body {
  background: $blackColor;
  color: $fontColor;

}

h1 {
  color: $blueColor;
}

.spline {
  z-index: 2;
  height: 100vh;
  position: absolute;
}

section {
  position: relative;
  z-index: 1;
  height: 100vh;
  background: $blackColor;
}

.mainSection {
  caret-color: $blueColor;
  cursor: url("../../public/pointer-arrow-icon.svg"), default;

  h1 {
    z-index: 1;
    position: fixed;
    top: calc(50vh - (500px / 2));
    left: calc(30% - (500px / 2));
    font-size: 75px;
    cursor: url("../../public/noun-text-cursor-49673.svg"), text;
  }

  h2 {
    z-index: 1;
    position: fixed;
    top: calc(50vh - (300px / 2));
    left: calc(30% - (400px / 2));
    font-size: 75px;
    cursor: url("../../public/noun-text-cursor-49673.svg"), text;
  }

  .desc {
    z-index: 1;
    position: fixed;
    width: 1000px;
    top: calc(50vh - (50px / 2));;
    left: calc(50% - (1000px / 2));
    font-size: 30px;
    text-align: center;
    cursor: url("../../public/noun-text-cursor-49673.svg"), text;
  }

  .location {
    position: absolute;
    top: 50px;
    right: 200px;
    font-size: 20px;
    cursor: url("../../public/noun-text-cursor-49673.svg"), text;
  }

  .dispo {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 20px;
    border: 1px solid $fontColor;
    border-radius: 50px;
    padding: 10px 10px 10px 35px;
    cursor: url("../../public/noun-text-cursor-49673.svg"), text;

    span:before {
      position: absolute;
      background: hsl(135, 85%, 55%);
      content: "";
      left: 15px;
      top: 14px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      animation: infinite pulse 2s;
    }

  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 hsla(135, 85%, 55%, .1);
    }
    50% {
      box-shadow: 0 0 0 0.8rem hsla(135, 85%, 55%, .2);
    }
    100% {
      box-shadow: 0 0 0 0 hsla(135, 85%, 55%, .1);
    }

  }


}

.compSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 238, 255, 1) 0%, rgba(56, 142, 149, 1) 0%, rgba(18, 121, 133, 1) 14%, rgba(31, 36, 45, 1) 100%);

  h2 {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 35px;
  }

  .sliderContener {
    width: 75%;

    .textContenerComp {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-top: 50px;

      .titleComp {
        font-size: 25px;
        margin-bottom: 15px;
        font-weight: bold;
      }

      .descComp {
        height: 50px;
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
  }

  .swiper-slide {
    display: flex !important;
    justify-content: center !important;
  }

  .swiper-custom-bullet {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50px;

    &:hover {
      cursor: pointer;
    }

  }

  .swiper-custom-bullet.swiper-custom-bullet-active {
    height: 20px;
    width: 20px;
    background-color: $blueColor;
    border-radius: 50px;
  }

  #containerForBullets {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .fadeIn {
    animation: fadeIn 0.5s ease forwards;
  }

  .fadeOut {
    animation: fadeOut 0.5s ease forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

}


.expSection {

}

.cvSection {

}

.contactSection {

}